# Android / Gradle
.gradle/
build/
**/build/
local.properties
/.idea/
*.iml
.gradle/
/captures/

# Keystores
*.jks
*.keystore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Android Studio
.cxx/
.externalNativeBuild/
